<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Atualizar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <form *ngIf="user" fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center"
    [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit(profileForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>DATALHES DO USUÁRIO</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-form-field fxFlex>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" autocomplete="off" readonly>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Usuário</mat-label>
      <input matInput formControlName="userName" placeholder="Usuário" autocomplete="off">
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="firstName" placeholder="Nome" autocomplete="off">
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="lastName" placeholder="Sobrenome" autocomplete="off">
    </mat-form-field>

    <ion-button color="primary" type="submit" fxLayoutAlign="center">SALVAR</ion-button>
  </form>
</ion-content>