<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="addBookmark()">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <ion-card *ngIf="quiz">

    <ion-card-header>
      <ion-item lines="full">
        <ion-card-title>{{quiz.title}}</ion-card-title>
      </ion-item>

      <ion-card-subtitle><ion-label color="dark">Categoria: </ion-label>{{quiz.category}}</ion-card-subtitle>
      <ion-card-subtitle><ion-label color="dark">Duração: </ion-label>{{quiz.duration}} minutos</ion-card-subtitle>
      <ion-card-subtitle><ion-label color="dark">Tentativas: </ion-label> {{quiz.examCount}}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      {{quiz.description}}
    </ion-card-content>
    <ion-button color="primary" fxLayoutAlign="center" [routerLink]="[ '/quiz', quizKey, userKey ]">INICIAR
    </ion-button>
  </ion-card>
  <!--
  <div fxLayoutAlign="center center" *ngIf="quiz">
    <mat-card class="w-100">
      <h3 fxLayoutAlign="center">{{quiz.title}}</h3>
      <mat-card-header>
        Categoria: {{quiz.category}}
      </mat-card-header>
      <mat-card-header>
        Duração: {{quiz.duration}} minutes
      </mat-card-header>
      <mat-card-header>
        Tentativas: {{quiz.examCount}}
      </mat-card-header>
      <br />
      <mat-card-content>
        <p>{{quiz.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button color="primary" fxLayoutAlign="center" [routerLink]="[ '/quiz', quizKey, userKey ]">INICIAR
        </ion-button>
      </mat-card-actions>
    </mat-card>
  </div>-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="share()">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>