.acerto{
    color: blue;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.errou{
    color: red;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.semresposta{
    color: gray;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

ion-card-title{
    text-align: center;
    
}

ion-img{
    
    height: 60px;
    width: 120px
}