<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="50">Quiz</div>
        <div fxLayout="column" fxFlex="50">
          <countdown-timer *ngIf="questions && quiz" (zeroTrigger)="timeOut()" [end]="duration" fxLayoutAlign="end">
          </countdown-timer>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner color="primary"></mat-spinner>
  </div>


  <div fxLayout="row" fxLayoutAlign="center" *ngIf="quiz">
    <h3>{{quiz.title}}</h3>
  </div>
  <div *ngFor="let question of questions;let i = index" padding>
    <ion-card>

      <ion-card-header>
        <ion-item lines="full">
          <ion-card-title>{{i+1}}. {{question.question}}</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group [(ngModel)]="question.answered">
          <ion-item *ngFor="let answer of question.answers">
            <p>{{answer}}</p>
            <ion-radio slot="start" [disabled]="result" [value]="answer"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <ion-button color="primary" (click)="openDialog()">CONFIRMAR</ion-button>
  </div>

</ion-content>