<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Termos e Condições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ul>
    <li>Websites</li>
    <li>WordPress blogs or blogs on any kind of platform: Joomla!, Drupal etc.</li>
    <li>E-commerce shops</li>
    <li>Mobile apps: iOS, Android or Windows phone</li>
    <li>Facebook apps</li>
    <li>Desktop apps</li>
  </ul>
</ion-content>