<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div fxLayout="row" fxFill fxLayoutAlign="center center" class="backgroundAuth">
    <div fxLayout="column" fxLayoutAlign="center">
      <mat-card class="w-30">
        <form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="registerForm"
          (ngSubmit)="onRegisterFormSubmit(registerForm.value)">
          <mat-card-header>
            <mat-card-title>
              <h2>REGISTRO</h2>
            </mat-card-title>
          </mat-card-header>

          <a mat-button [routerLink]="['/auth/login']">Já tem uma conta? clique aqui!</a>

          <mat-form-field class="w-100" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocapitalize="none" placeholder="Email" autocomplete="off">
            <mat-error *ngIf="registerForm.controls.email.errors?.required">Email é obrigatório</mat-error>
            <mat-error *ngIf="registerForm.controls.email.hasError('invalidEmail')">Endereço de e-mail inválido</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" fxFlex>
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" placeholder="Senha" autocomplete="off" type="password">
            <mat-error *ngIf="registerForm.controls.password.errors?.required">Senha é obrigatória</mat-error>
            <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">Senha é curta! minimo de 6 carácteres</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" fxFlex>
            <mat-label>Confirmar Senha</mat-label>
            <input matInput formControlName="confirmPassword" placeholder="Confirmar senha" autocomplete="off"
              type="password">
            <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.required">Confirmar senha é obrigatório
            </mat-error>
            <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">As senhas são diferentes</mat-error>
          </mat-form-field>

          <mat-card-actions>
            <ion-button type="submit" color="primary">CRIAR CONTA</ion-button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</ion-content>